.card-title {
    &.h5 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
}

.card-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-img-top {
    cursor: pointer;
}